table {
  width: 100%;
}
.icontable {
  cursor: pointer;
  color: rgb(4, 0, 77);
}
.icontable:hover {
  cursor: pointer;
  color: rgb(88, 79, 255);
  
}

button{
  background-color: rgb(4, 0, 77)!important;
}

button:hover{
  background-color: black!important;
}